/*---------------------------------------------------------
GENERAL STYLES 
----------------------------------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9792E4;
    --secondary-color: #0084FD;
    --secondary-light-color: #B5DDFF;
    --tertiary-color: #FDC160;
    --footer-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------------------
UTILITIES 
----------------------------------------------------------*/

/* COLORS PALETTE */

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-secondary-light {
    background-color: var(--secondary-light-color);
}

.bg-footer {
    background-color: var(--footer-color) ;
}

/* LAYOUT */

.site-header {
    position: sticky;
    top: 0;
    /* SOLO PER DEBUG */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    /* SOLO PER DEBUG */
    border: 1px dashed blue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.justify-center {
    justify-content: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% - 2rem) / 3);
}

.col-2 {
    flex-basis: calc(((100% - 1rem) / 3) * 2);
}

.col-3 {
    flex-basis: 100%;
}

.card {
    /* SOLO PER DEBUG */
    background-color: var(--secondary-light-color);
    border-radius: 1rem;
    min-height: 100px;
}

